# /etc/rabbitmq/rabbitmq.config
#
# Follow the instructions on RabbitMQ website to create certificate authority and certificates -
#
# http://www.rabbitmq.com/ssl.html
#

[
  {rabbit, [
    {tcp_listeners,[{"<%= scope.lookupvar('odoo::esb::host') %>",<%= scope.lookupvar('odoo::esb::port') %>}]},
    <% if scope.lookupvar('odoo::esb::ca_cert_path').ni? == false %>
    {ssl_listeners, [{"<%= scope.lookupvar('odoo::esb::host') %>",<%= scope.lookupvar('odoo::esb::tls_port') %>}]},
    {ssl_options, [{cacertfile,"<%= scope.lookupvar('odoo::esb::ca_cert_path') %>"},
                    {certfile,"<%= scope.lookupvar('odoo::esb::certificate_path') %>"},
                    {keyfile," <%= scope.lookupvar('odoo::esb::keyfile_path') %> "},
                    {verify,verify_none},
                    {fail_if_no_peer_cert,false}]}

    <% end  %>
  ]}
].
